body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bi-lightbulb-fill,
.bi-lightbulb,
.bi-basket {
  font-size: 1.5rem;
  color: white;
}